<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>  
  <title>world.db web service / HTTP API sample (JSON / CSV / HTML)</title>
  <link href="<%= url('/style.css') %>" rel='stylesheet'>
</head>
<body>

<%= yield %>

<%= erb :'_version' %>

</body>
</html>